@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-align($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin menu-list {
    background-color: #fff;
    list-style: none;

    .menu-item {
        display: inline-block;
        font-size: initial;
        margin: 0 20px;
        text-transform: uppercase;

        a {
            color: $secondary-color;
            text-decoration: none;
            font-weight: 700;
        }
    }
}