//! FONTS 
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', sans-serif;


//! COLORS
$primary-color: #1ba4ce;
$secondary-color: #473452;

//! BUTTONS
$button-color: #30383b;

//! TEXT COLOR
$primary-text-color: #888;
$secondary-text-color: #555;

//! CONTAINER
$small-container: 100%;
$large-container: 960px;
$extra-large-container:1140px;

//! MOBILE BREAKPOINTS
$extra-small: 480px;
$small: 576px;
$medium :768px;
$large : 992px;
$extra-large: 1200px;